<body>
<div>
    <div class="boxy">
        <div *ngIf="products.length > 0" class="card-container">
            <div *ngFor="let p of products">
                <div *ngIf="products.length > 0" class="non-hover">
                    <mat-card class="example-card">
                        <!-- MatCardHeader -->
                        <mat-card-header>
                            <div [style.background-image]="'url(' + p.image + ')'" class="example-header-image"></div>
                            <mat-card-title>{{ p.item }}</mat-card-title>
                            <mat-card-subtitle>{{p.category}}</mat-card-subtitle>
                        </mat-card-header>
                        <!-- MatCardImage -->
                        <img mat-card-image [src]="p.image" alt="{{ p.image }}">
                        <div class="card-content">
                            <!-- MatCardContent -->
                            <mat-card-content>
                                <p>Milk is healthy</p>
                            </mat-card-content>
                        </div>
                        <!-- MatCardActions -->
                        <mat-card-actions class="icons">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>home</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
</body>